@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css?family=Poppins:400,500,600,700,800,900");

body {
    margin: 0;
    width: 100%;
}

#root {
    width: 100%;
    min-height: 100vh;
    /* background-color: rgb(18 20 30); */
    background-color: rgb(30 30 40);
    display: flex;
    flex-direction: column;
    color: rgb(234, 236, 239);
}

.checkbox-auth:checked {
    transform: translateX(44px) rotate(-270deg);
}
.checkbox-auth:checked + label > div {
    transform: translateX(44px) rotate(-270deg);
}
.card-3d-wrap {
    perspective: 800px;
}
.card-3d-wrapper {
    transition: all 600ms ease-out;
}
.checkbox-auth:checked ~ .card-3d-wrap .card-3d-wrapper {
    transform: rotateY(180deg);
}
.center-wrap {
    transform: translate3d(0, -50%, 35px) perspective(100px);
}

.rotate-y-180 {
    transform: rotateY(180deg);
}

.preserve-3d {
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
}
